<div class="row" style="margin-top: 25px;">
    <div class="col s12 m4"></div>
    <div class="col s12 m4" id="about">
        <div class="card">
            <div class="card-image">
                <img src="{{givePropVal user 'image'}}" class="circle" onerror="this.src='/assets/m1.jpg'">
                <span class="card-title" style="position: relative !important;color:black;top:10px">{{givePropVal user
                    'displayName'}}</span>
                <a href="/profile/edit/{{givePropVal user '_id'}}"
                    class="btn-floating halfway-fab waves-effect waves-light blue" style="bottom: 20px;"><i
                        class="fas fa-edit fa-small"></i></a>
            </div>
            <div class="card-content">
                <div style="display: flex;justify-content: space-between;flex-direction: row;">
                    <span>
                        <label for="public" style="font-size:1.0rem !important;">Private Stories</label>
                        <span>{{privateStories}}</span>
                    </span>
                    <span>
                        <label for="private" style="font-size:1.0rem !important;">Public Stories</label>
                        <span>{{publicStories}}</span>
                    </span>
                </div>
                <br>
                <div>
                    <label for="about" style="font-size:1.0rem !important;">About</label>
                    <p>{{stripTags (givePropVal user 'description')}}</p>
                </div>

                <form action="/profile/{{givePropVal user '_id'}}" method="post" id="delete-form" onsubmit="return deleteProfile()">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red btn-custom" style="float: right;">Delete Profile
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    deleteProfile = () => {
        return confirm("Are you sure you want to delete your account? This action cannot be undone.");
    }
</script>